* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    display: flex;
    background: url('image/back.webp');
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.container {
    width: 350px;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0px 0px 10px rgba(50, 49, 49, .6);
    height: auto;
}

.hed {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.boxcontainer {
    display: flex;
}

p {
    font-size: 1rem;
    color: rgb(84, 84, 84);
    padding: 5px 2px;
}

.box1 {
    width: 50%;
    padding: 10px 5px;
}

.takval,
#unit1 {
    width: 100%;
    font-size: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(126, 125, 125);
}

#unit1 {
    font-size: 1.1rem;
    margin-top: 4.5px;
}
#unit2 {
    width: 100%;
    font-size: 22px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid rgb(126, 125, 125);
}

#unit2 {
    font-size: 1.1rem;
    margin-top: 4.5px;
}
.valuecontainer {
    margin: 10px 0;
    margin-top: 20px;
}

.value {
    width: 100%;
    height: 30px;
    margin: 8px 0;
    font-size: 1.4rem;
    border-bottom: 1px solid rgb(126, 125, 125);
}

.button {
    width: 100%;
    height: auto;
    font: 1.6rem;
    color: white;
    background-color: rgb(78, 197, 96);
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.emoji {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.emoji>i {
    color: rgb(253, 174, 37);
    font-size: 3rem;
}